.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  margin: 0;
}

#user-list {
  background-color: #282c34;
  padding: 10px;
}

.user-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0.35em;
  margin: 3px;
  background-color: #15445c;
  color: white;
}

li {
  list-style: none;
}

.profile-image {
  width: 100%;
  height: auto;
  margin-bottom: 3px;
}

@media all and (min-width: 10em) {
  .profile-card {
    width: 100%;
  }
}
@media all and (min-width: 30em) {
  .profile-card {
    width: 45%;
  }
}
@media all and (min-width: 50em) {
  .profile-card {
    width: 25%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
